@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}
html,
body {
	width: 100%;
}
a {
	text-decoration: none;
}
.navElement {
	flex: 1;
	margin-bottom: 20px;
	padding: 25px;
	border-radius: 10px;
	color: white;
	font-size: 1.2rem;
	box-shadow: 0 0 10px #5500ff, 0 0 20px #00fffb, 0 0 40px #ffffff;
}

.navElement:hover {
	transform: scale(1.03);
	transition: 0.5s;
}
.nav {
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: auto;
	gap: 25px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.portfolio {
	border: 2px solid blueviolet;
	text-align: center;
	margin: auto;
	width: 60%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 100px;
	padding: 10px;
	box-shadow: 0 0 10px #d806bc, 0 0 20px #b408e9, 0 0 40px #ab06dd;
}
header {
	color: white;
	max-width: 100%;
	margin: auto;
}

#about {
	text-align: center;
}
h2 {
	text-align: center;
	width: fit-content;
	margin: 10px auto;
	margin-top: 100px;
	/* margin-bottom: 50px; */
}
.future {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.rep {
	text-align: center;
}

body {
	color: white;
	background-color: black;
}
img {
	width: 250px;
}
#about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#written {
	width: 60%;
	min-width: 240px;
	margin: auto;
	/* max-width: 600px; */
	text-align: center;
	border: 2px solid #ffc0cb;
	padding: 20px;
	border-radius: 15px;
	background-color: black;
	box-shadow: 0 0 10px #00fffb, 0 0 20px #00fffb, 0 0 40px #00fffb;
	line-height: 1.6;
}
#written p {
	margin: 10px 0;
}

#projectSection {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}
.projectCard {
	text-align: center;
	border: 2px solid pink;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 10px #00fffb, 0 0 20px #00fffb, 0 0 40px #00fffb;
	width: 30%;
	min-width: 240px;
	margin: auto;
	margin-bottom: 50px;
}
.projectTime {
	margin: 25px 0 3% 0;
}
.a {
	border: 2px solid pink;
	margin-top: 5% !important;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 0 10px #d806bc, 0 0 20px #b408e9, 0 0 40px #ab06dd;
}
.b {
	border: 2px solid skyblue;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 0 10px #d806bc, 0 0 20px #b408e9, 0 0 40px #ab06dd;
}
#skilss {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	width: 60%;
	font-size: 1.2rem;
	margin: auto;
	margin-top: 30px;
}

.skillList {
	width: 20%;
	border: 2px solid rgb(5, 5, 5);
	border-radius: 20px;
	padding: 25px;
	box-shadow: 0 0 10px #f1f0f1, 0 0 20px #030303, 0 0 40px #f1f0f1;
}
.skillList p {
	font-weight: bold;
	text-align: center;
}
.sectionHeading {
	border-radius: 15px;
}
.c {
	margin-top: 15%;
	border: 2px solid peachpuff;
	padding: 10px;
	box-shadow: 0 0 10px #d806bc, 0 0 20px #b408e9, 0 0 40px #ab06dd;
}
.d {
	text-align: center;
	padding: 10px;
	border: 2px solid plum;
	border-radius: 15px;
	box-shadow: 0 0 10px #d806bc, 0 0 20px #b408e9, 0 0 40px #ab06dd;
}

.flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	min-width: 240px;
	font-size: 1.2rem;
	gap: 20px;
	margin: 30px auto;
	flex-wrap: wrap; /* Allows boxes to wrap on small screens */
}

.flexItem {
	color: white;
	flex: 1;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
	background-color: black;
	box-shadow: 0 0 10px #5500ff, 0 0 20px #00fffb;
}
.flexItem:hover {
	transform: translateY(-5px);
	transition: 0.5s;
}
#projects {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
}
#coming {
	text-decoration: 10px blue;
}
#contact {
	width: 100%;
	margin: auto;
}
.contactCard i {
	margin: 0 5px;
}
.contactFlex {
	align-items: stretch;
	line-height: 100%;
}
footer {
	width: 100%;
	text-align: center;
}
@media (max-width: 1400px) {
	.skillList {
		flex: 0 0 calc(48% - 2%);
		margin-right: 4%;
		margin-bottom: 4%;
	}
}

@media (max-width: 600px) {
	.skillList {
		flex: 0 0 100%;
		margin-right: 0;
		margin-bottom: 4%;
	}
}

